extends layout
block content
	mixin icon(listing)
		- var iconSrc = listing.data.icon || "/images/no-icon.png";
		div(class="server-icon")
			img(src=iconSrc)
			div(class="discord w3-tooltip")
				if listing.data.discord
					img(src="/images/discord.png")
					- var txtSize = 12;
					- var tooltipLength = listing.data.discord.length * txtSize * 0.7;
					- var tooltipMargin = tooltipLength / 2;
					span(class="w3-tooltiptext Consolas" id=`tooltiptext_${listing._id}`  style=`font-size: ${txtSize}px; width: ${tooltipLength}px; margin-left: -${tooltipMargin}px`)=listing.data.discord
					script.
						var id = "#tooltiptext_#{listing._id}";
						//Replace contents of tooltiptext with another child span
						$(id).html((i, html) => `<span>${html}</span>`);
						//Replace width and margin with accurate width of text
						$(id).css("width", $(id).children().width() + 12);
						$(id).css("margin-left", $(id).children().width() / -2 - 6);
					- if( !listing.data.discord.includes("http") )
						- listing.data.discord = "http://" + listing.data.discord;
					a(href=listing.data.discord target="_blank")
						div
				else
					- var txtSize = 12;
					- var tooltipLength = 128;
					- var tooltipMargin = tooltipLength / 2;
					span(class="w3-tooltiptext Consolas" style=`font-size: ${txtSize}px; width: ${tooltipLength}px; margin-left: -${tooltipMargin}px`) There is no Discord server for this Minecraft server.
	- var iconWidth = 64;
	style.
		.ras-block{
			background-color: rgba(200,200,200,0.1);
		}
		.server-icon{
			width: #{iconWidth}px;
			height: #{iconWidth}px;
			margin-top: -#{iconWidth / 8}px;
			background-color: #ddd;
			border-radius: 50%;
		}
		.server-icon img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.discord{
			position: relative;
			top: -#{iconWidth}px;
			z-index: 2;
			cursor: pointer;
			width: #{iconWidth}px;
			height: #{iconWidth}px;
			border-radius: 50%;
		}
		.discord img{
			opacity: 0;
			width: 100%;
			height: 100%;
		}
		.discord a{
			position: relative;
			top: -#{iconWidth}px;
		}
		.discord a div{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.discord:hover{
			background-color: rgba(0,0,0,0.4);
		}
		.discord:hover img{
			opacity: 1;
		}
	h2(class="Milford allcaps") LOCKEDCRAFT: RELATED ALTERNATIVE SERVERS
	each category in listingsByCategory
		//- console.log(category.categoryNum)
		div(id=`ListingCategory_${category.categoryNum}`)
			hr(class="w3-col")
			h3(class="Milford allcaps") Category #{category.category}: #{category.title}
			h4=category.description
			//-If there are no servers for the category, display grass block and "There are no servers listed for this category"
			- if( !category.listings || !category.listings[0] )
				div(class="w3-col")
					br
				div(class="w3-container w3-padding w3-col")
					div(class="w3-col m1")
						div(class="server-icon")
							img(src="/images/no-icon.png")
					div(class="w3-col m11 w3-margin-top")
						span(class="w3-left") There are no servers listed for this category.
			//-Loop through each listing
			each listing in category.listings
				//-Padded container for each listing
				div(class="w3-container w3-padding-24 w3-col")
					//-Block with background
					div(class="w3-col ras-block")
						//-Spacer
						p(class="w3-col")
						//-This entire div is for the icon
						div(class="w3-col s0 m2")
							//-spacer
							div(class="w3-col m4") &nbsp;
							//-remainder after spacer
							div(class="w3-col m8")
								+icon(listing)
						//-Container for rest of server information except for description
						div(class="w3-col m10")
							//-Container for DATA of server info
							div(class="w3-col")
								//-Server name
								div(class="w3-col m3")
									div(class="w3-show-small w3-left")
										div(style="position: relative; left: 32px; top: -8px; width: 1px; height: 1px;")
											+icon(listing)
									div
										strong=listing.data.servername
									span &nbsp;
									p(class="w3-col m0 Milford allcaps") Server name
								//-Suggestor (categroy 4)
								if category.categoryNum == 4
									div(class="w3-col m3")
										//-change suggestor to include relationship in parentheses
										- let suggestor = listing.data.suggestor
										- if (listing.data.suggestorrelationship) suggestor += ` (${listing.data.suggestorrelationship})`;
										//-Add http if necessary
										if listing.data.suggestorlink
											- if( !listing.data.suggestorlink.includes("http") )
												- listing.data.suggestorlink = "http://" + listing.data.suggestorlink;
											a(href=listing.data.suggestorlink class="link")=suggestor
										else
											span=listing.data.suggestor
										span &nbsp;
										p(class="w3-col m0 Milford allcaps") Suggestor
								//-Owner/creator
								else
									div(class="w3-col m3")
										//-Add http if necessary
										if listing.data.creatorlink
											- if( !listing.data.creatorlink.includes("http") )
												- listing.data.creatorlink = "http://" + listing.data.creatorlink;
											a(href=listing.data.creatorlink class="link")=listing.data.creator
										else
											span=listing.data.creator
										span &nbsp;
										p(class="w3-col m0 Milford allcaps") Owner
								//-Website
								div(class="w3-col m3" style="word-wrap: break-word;")
									if listing.data.weblink
										- if( !listing.data.weblink.includes("http") )
											- listing.data.weblink = "http://" + listing.data.weblink;
										//-text is only what's after http://
										a(href=listing.data.weblink class="link")=listing.data.weblink.split("://")[1]
									span &nbsp;
									p(class="w3-col m0 Milford allcaps") Website
								//-MC server address
								- var thisColor;
								case listing.data.status
									when "released"
										- thisLabel = ''
										- thisColor = '#B8FFBF'
									when "alpha"
										- thisLabel = '(ALPHA)'
										- thisColor = '#B8F7FF'
									when "beta"
										- thisLabel = '(BETA)'
										- thisColor = '#B8F7FF'
									when "shutdown"
										- thisLabel = '(SHUT DOWN)'
										- thisColor = '#DE5D5D'
									when "cancelled"
										- thisLabel = '(CANCELLED)'
										- thisColor = '#DE5D5D'
								div(class="w3-col m3")
									span(class="Consolas" style=`color: ${thisColor}`) #{listing.data.address}&nbsp;
									span(class="Consolas" style=`color: ${thisColor}`) #{thisLabel}
									span &nbsp;
									p(class="w3-col m0 Milford allcaps") IP Address
							//-Container for LABELS
							div(class="w3-col s0 Milford allcaps")
								div(class="w3-col m3")
									span Server name
								div(class="w3-col m3")
									if category.categoryNum == 4
										span Suggestor
									else 
										span Owner
								div(class="w3-col m3")
									span Website
								div(class="w3-col m3")
									span IP Address
						//-Full-width container for description
						div(class="w3-col")
							//-Spacer
							div(class="w3-col s1") &nbsp;
							//-Description
							div(class="w3-col s11")
								p(class="w3-left w3-left-align w3-margin-right")=listing.data.desc
	//-Spacer at the end of the page
	p(class="w3-col")
	script.
		var hasSeenMessage = localStorage.getItem("hasSeenMessage");
		if (hasSeenMessage != "true") {
			var warning = "*WARNING: Only join servers run by people you trust!*"
				+ "\nJoining a MC server exposes your IP address (and thus your location) to that server's owner."
				+ "\nWe trust all _Category One_ servers, but will not vouch for the safety of servers from other categories. Join at your own risk!";
			var card = new NotificationCard(warning, {exitable: true, ttl: 0, type: "warn", onexit: () => {localStorage.setItem("hasSeenMessage", "true")}});
			card.show();
		}